*::selection{
	background-color: #6EB5AB; 
	color:white;
}
*{
	margin:0;
	padding:0;
}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
html,body{
	margin:0;
	padding:0;

	width: 100%;
	height: 100%;

	min-width: 900px;
	min-height: 640px;

	font-family: '옥션고딕_light', sans-serif;

	background: white;
	overflow-y: hidden;
}


wrap{
	display: inline-block;
	position: relative;
	background: #3cc6f4 ;
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

header{
	display: inline-block;
	margin:0;
	padding:0;
	width: 100%;
	height: 15%;
/*	min-height: 80px;*/


	background-image: url('../images/main/line.png');
	background-size: 98% 30%;
	background-position: bottom;

	background-repeat: no-repeat;

}
	header div{
		width: 50%;
		height: 100%;
	}
	header .logo_box{
		float: left;
	}
		header .logo_box img{
			height: 90%;
		}
	header .some_box{
		float: right;
		text-align: right;
	}
		header .some_box img{
			height: 60%;
			vertical-align: middle;
		}
		header .some_box img:hover{
			cursor: pointer;
		}

		.some_box{
	text-align: center;
	margin:0;
	padding: 0;
	}
	.my_button{
		display: inline-block;
		width: auto;
		min-width: 20%;
		height: 100%;
		text-align: right;
		line-height: 1.8em;
		margin-right: 5%;
		vertical-align: top;
		}
		.my_button img{
			margin-top: 20%;
			max-height: 1.3em;

			display: inline-block;
		}
		.my_button span{
			max-height: 50%;
			font-size: 1.3em;
			display: inline-block;
			color:white;
			width: auto;
			display: block;

		}
		.my_button a{
			text-decoration: none;
		}
		.my_button span:hover{
			text-decoration: none;

			text-shadow: 0px 0px .1em white;
		}
