{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8"/>

	<title>시봉: 동아리 모의투자</title>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/font.css" />
	<link rel = "stylesheet" type = "text/css" href = "/static/css/default.css"/>
	<link rel = "stylesheet" type = "text/css" href = "/static/css/after_deal.css"/>
    <link rel ="shortcut icon" type = "image/png" href = "{% static 'images/favicon.ico' %}"/>
<!--mediaquery start-->
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<!--mediaquery end-->
<!--[if lt IE 9]>
< script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
< ![endif]-->
<!--[if lte IE 7]>
< script src="js/IE8.js"></script>
<![endif]-->
<!-- script start -->

<script type="text/javascript" src = "/static/js/after_deal/after_deal_routine.js"></script>
<script type="text/javascript" src = "/static/js/after_deal/after_deal_layout.js"></script>
<!-- script end -->
</head>
<body>
    {% if request.user.is_anonymous %}

        <meta http-equiv="REFRESH" content="0;url=/login/">

    {% endif %}
    {% if request.user.usermoney < price %}
        <script>alert("돈이 "+({{ price }}-{{ request.user.usermoney }})+"원 부족합니다! ㅠㅠ")</script>
    {% elif data %}
        <script>alert("갯수가 너무 많습니다!")</script>
    {% endif %}
<wrap>

	<header>
		<div class = "logo_box">
			<a href = "/after_login/"><img src = "/static/images/main/main_logo.png" alt = "메인로고입니다"/></a>
		</div>
		<div class = "some_box">
			<img src = "/static/images/main/sibong.png" alt = "시봉이"/>
			<div class = "my_button">
				<a href = "/logout/"><img id = "logout" src = "/static/images/main/logout.png"/></a>
				<a href = "/mypage/"><span>마이페이지</span></a>
			</div>
		</div>
	</header>
	<div class = "text_box">
		<img src = "/static/images/smiling_sibong.png"><span>완료하였습니다!<br/>감사합니다!</span>
	</div>
</wrap>
</body>
</html>