{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8"/>

	<title>시봉: 동아리 모의투자</title>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/font.css' %}" />
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/default.css' %}"/>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/main.css' %}"/>
<!--mediaquery start-->
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<!--mediaquery end-->
<!--[if lt IE 9]>
< script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
< ![endif]-->
<!--[if lte IE 7]>
< script src="{% static 'js/IE8.js' %}"></script>
<![endif]-->
<!-- script start -->
<script type="text/javascript" src = "{% static 'js/main/main_routine.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/main/main_layout.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/VJGraph.js' %}"></script>
<script type ="text/javascript" src ="{% static 'js/main/main_ajax.js' %}"></script>
<!-- script end -->
</head>
<body>
<wrap>
	<header>
		<div class = "logo_box">
			<a href = "/main/"><img src = "{% static 'images/main/main_logo.png' %}" alt = "메인로고입니다"/></a>
		</div>
		<div class = "some_box">
			<img src = "{% static 'images/main/sibong.png' %}" alt = "시봉이"/>
            <div class = "my_button">
				<a href = "/logout/"><img id = "logout" src = "{% static 'images/main/logout.png' %}"/></a>
				<a href = "/mypage/"><span>마이페이지</span></a>
			</div>
		</div>
	</header>
	<div id = "links">
		<div class = "items">
			<span class = 'title'><img src = "{% static 'images/main/stock_item_img.png' %}" alt = "종목" /><span class = "title_text">종목</span></span>
			<div class = 'items_list'>							
			</div>
		</div>
		<div class = "sospi">
			<span class = 'title'>
				<img src = "{% static 'images/main/sospi_img.png' %}" alt = "선린피"/><span class = "title_text">SOSPI</span>
				<div class = "select_box">
				<select id = "term" name = "term">
					<option class = 'data_term' value = 'day' >하루</option>
					<option class = 'data_term' value = 'week'>일주일</option>
				</select>
				</div>
			</span>
			<div class = 'graph_form'>
				<table id = "table_form">
					<tr>
						<td class = "y_cell"></td>
					</tr>
					<tr>
						<td class = "y_cell"></td>
					</tr>
					<tr>
						<td class = "y_cell"></td>
					</tr>
					<tr>
						<td class = "y_cell"></td>
					</tr>
					<tr>
						<td class = "y_cell"></td>
					</tr>
					<tr class = "x-axis">
						<td class = "x_cell"></td><td class = "x_cell"></td><td class = "x_cell"></td><td class = "x_cell"></td><td class = "x_cell"></td>
					</tr>						
				</table>
				<div id="sospiGraph" class = "graph_" ></div>
				<div id="sospiGraph_1" class = "graph_" ></div>
			</div>
		</div>
		<div class = "news">
			<span class = 'title'><img src = "{% static 'images/main/news_img.png' %}"/><span class = "title_text">NEWS</span>
			<a href = "news.html">
				+더보기
			</a>
			</span>
			<div class = "news_view">
			</div>
		</div>
	</div>
	<div id = "rank">
		<span class = "title"><img src = "{% static 'images/main/crown.png' %}" alt = "랭킹입니다" /><span class = "title_text">종목랭킹</span></span>
		<div class = "rank_list">
			
		</div>
	</div>
</wrap>
</body>
</html>