{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8"/>
	
	<title>시봉:동아리 모의투자</title>
<link rel ="stylesheet" type = "text/css" href = "{% static 'css/font.css' %}"/>
<!--mediaquery start-->
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<!--mediaquery end-->
<!--[if lt IE 9]>
< script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
< ![endif]-->
<!--[if lte IE 7]>
< script src="{% static 'js/IE8.js' %}"></script>
<![endif]-->
<!-- script start -->
</head>
<body>

</body>
</html>